@media screen and (max-width: 700px) {
    main {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 2fr;
        gap: 0px 0px;
        grid-template-areas: "main_container-title main_container-title" "main_container-download main_container-upload" "main_container-settings main_container-settings";
        position: relative;
    }
    /* 
    General
    */
    .panel {
        background: rgba( 255, 255, 255, 0.1);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
        backdrop-filter: blur( 0.5rem);
        -webkit-backdrop-filter: blur( 10px);
        border: 1px solid rgba( 255, 255, 255, 0.1);
        margin: 1rem;
        border-radius: 0.5rem;
        padding: 0.5rem;
    }
    /* 
    Right area
    */
    .main_container-settings {
        grid-area: main_container-settings;
    }
    .main_container-title {
        grid-area: main_container-title;
        display: grid;
        place-items: center;
    }
    .main_container-title>h1 {
        font-size: 3rem;
        margin: 0;
    }
    /* 
    Action buttons
    */
    .main_container-upload {
        grid-area: main_container-upload;
    }
    .main_container-download {
        grid-area: main_container-download;
    }
    .action_button-title {
        display: none;
    }
    .action_button-button {
        cursor: pointer;
        font-size: 5rem;
        margin: auto;
        display: grid;
        place-items: center;
        height: 100%;
    }
    .action_button-button span {
        margin: auto;
        display: block;
        width: fit-content;
        height: fit-content;
    }
    #upload-input {
        display: none;
    }
    /* 
    Settings area
    */
    .main_container-settings {
        grid-area: main_container-settings;
    }
}