:root {
    --text-color: #ffffff;
    --text2-color: #cccccc;
    --background-color: #181c36;
    --background2-color: #181c26;
    --background-light: #dedede;
    --accent-color: #3f48cc;
    --accent2-color: #7e84f7;
}

html,
body {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 100%;
    font-family: 'Ubuntu', 'Roboto', sans-serif;
    scroll-behavior: smooth;
    font-weight: 500;
    color: var(--text-color);
    background-color: var(--background-color);
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: grid;
    grid-template-rows: 1fr 3fr 3rem;
    grid-template-columns: 1fr;
    grid-template-areas: "title" "actions" "footer";
}

.title {
    display: grid;
    place-items: center;
    height: 30vh;
    font-size: 4rem;
    grid-area: title;
    background-color: var(--accent-color);
}

.actions {
    padding: 0 2.5rem 4.5rem 2.5rem;
    grid-area: actions;
    background: linear-gradient(to bottom, var(--accent-color) 50%, var(--background-color) 50%);
    display: grid;
    place-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "download upload tunnel";
    gap: 2.5rem;
}

.download {
    grid-area: download;
}

.upload {
    grid-area: upload;
}

.tunnel {
    grid-area: tunnel;
}

.actions>a {
    background-color: #ffffff;
    padding: 1rem;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
    grid-template-areas: "title" "icon";
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

.actions>a:hover {
    background-color: #dddddd;
}

.actions>a>h2 {
    grid-area: title;
    color: #3f48cc;
    font-size: 2rem;
    text-align: center;
}

.actions>a>div {
    grid-area: icon;
    display: grid;
    place-items: center;
}

svg {
    color: var(--accent-color);
    aspect-ratio: 1/1;
    width: 50%;
    margin: auto;
}

footer {
    grid-area: footer;
    background-color: var(--background2-color);
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 400;
    display: grid;
    place-items: center;
}

footer a {
    color: var(--text2-color);
}

@media screen and (max-height: 600px) {
    .actions>a>h2 {
        font-size: 1.5rem;
    }

    .actions {
        padding: 0 1.5rem 3rem 1.5rem;
    }

    .title {
        font-size: 3rem;
    }

    footer {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 750px) {
    .actions>a>h2 {
        font-size: 1.5rem;
    }

    .actions {
        padding: 0 1.5rem 3rem 1.5rem;
    }

    .title {
        font-size: 3rem;
    }
}

@media screen and (min-width: 1750px) {
    .actions {
        padding: 0 15vw 4.5rem 15vw;
        gap: 5rem;
    }
}

@media screen and (min-height: 750px) {
    body {
        grid-template-rows: 1fr 3fr 5rem;
    }
}